<div class="card-header flex flex-col md:flex-row md:items-center md:justify-between gap-4 p-5 bg-gray-50/50 dark:bg-coal-700/50 border-b border-gray-200 dark:border-gray-700">
  <h3 class="card-title font-semibold text-base text-gray-900 dark:text-gray-100 flex items-center gap-2">
    <i class="ki-filled ki-magnifier text-primary"></i> Search & Filters
  </h3>
  <div class="flex flex-wrap items-center gap-3">
    <div class="relative">
      <input class="input input-sm pl-9 bg-white dark:bg-coal-600 border-gray-200 dark:border-gray-700 dark:text-gray-300" data-datatable-search="#users_table" placeholder="Search Users..." type="text"> 
      <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400">
        <i class="ki-filled ki-magnifier text-sm"></i>
      </span>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <select class="select select-sm w-32 bg-white dark:bg-coal-600 border-gray-200 dark:border-gray-700 dark:text-gray-300 rounded-lg shadow-sm">
        <option value="">All Status</option>
        <option value="1">Active</option>
        <option value="2">Disabled</option>
        <option value="3">Pending</option>
      </select>
      <select class="select select-sm w-32 bg-white dark:bg-coal-600 border-gray-200 dark:border-gray-700 dark:text-gray-300 rounded-lg shadow-sm">
        <option value="">Sort By</option>
        <option value="1">Latest</option>
        <option value="2">Older</option>
        <option value="3">Oldest</option>
      </select>
    </div>
  </div>
</div>