<div class="container-fixed p-6">
  <div class="mb-6 flex items-center">
    <a href="<%= admin_articles_path %>" class="text-gray-500 hover:text-primary me-4">
      <i class="ki-filled ki-arrow-left text-xl"></i>
    </a>
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">Write New Article</h1>
  </div>
  
  <%= render 'form', article: @article %>
</div>
