<%# Beautiful SaaS Users Dashboard %>
<div class="container-fixed" id="content_container"></div>

<div class="container-fixed">
  <div class="flex flex-wrap items-center lg:items-end justify-between gap-7 pb-10">
    <div class="flex flex-col justify-center gap-3">
      <h1 class="text-2xl font-bold leading-tight text-primary">
        Edit Manager
      </h1>
    </div>
  </div>
</div>
<!-- Container -->
<div class="container-fixed">
  <div class="grid gap-5 lg:gap-7.5 xl:w-[38.75rem] mx-auto">
    <%= render 'admin/managers/partial/form' %>
  </div>
</div>