<table class="table table-auto table-border shadow-lg rounded-lg overflow-hidden" data-datatable-table="true">
  <thead class="bg-gray-50">
    <tr>
      <th class="w-[60px] text-center align-middle">
        <input class="checkbox checkbox-sm accent-primary" data-datatable-check="true" type="checkbox"/>
      </th>
      <th class="min-w-[280px] align-middle" data-datatable-column-sort="name">
        <span class="sort asc flex items-center gap-1">
          <span class="sort-label font-semibold text-gray-800 tracking-wide">Profile</span>
          <span class="sort-icon"></span>
        </span>
      </th>
      <th class="min-w-[150px] align-middle" data-datatable-column-sort="phone_number">
        <span class="sort flex items-center gap-1">
          <span class="sort-label font-semibold text-gray-800 tracking-wide">Phone</span>
          <span class="sort-icon"></span>
        </span>
      </th>
      <th class="min-w-[80px] align-middle" data-datatable-column-sort="gender">
        <span class="sort flex items-center gap-1">
          <span class="sort-label font-semibold text-gray-800 tracking-wide">Gender</span>
          <span class="sort-icon"></span>
        </span>
      </th>
      <th class="min-w-[155px] align-middle" data-datatable-column-sort="address">
        <span class="sort flex items-center gap-1">
          <span class="sort-label font-semibold text-gray-800 tracking-wide">Address</span>
          <span class="sort-icon"></span>
        </span>
      </th>
      <th class="min-w-[65px] align-middle" data-datatable-column-sort="status">
        <span class="sort flex items-center gap-1">
          <span class="sort-label font-semibold text-gray-800 tracking-wide">Status</span>
          <span class="sort-icon"></span>
        </span>
      </th>
      <th class="w-50 text-center align-middle" data-datatable-column-sort="created_at">
        <span class="sort flex items-center gap-1">
          <span class="sort-label font-semibold text-gray-800 tracking-wide">Created At</span>
          <span class="sort-icon"></span>
        </span>
      </th>
      <th class="w-10 text-center align-middle">
      </th>
      <th class="w-10 text-center align-middle">
      </th>
    </tr>
  </thead>
</table>